<h3>{{leyenda}}</h3>
<div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="button"
                    (click)="cambiarValor(+5)"
            ><i class="mdi mdi-plus"></i></button>
          </span>
  <input name="porcentaje"
         [(ngModel)]="porcentaje"
         type="text"
         class="form-control"
         placeholder="Porcentaje">
  <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="button"
                    (click)="cambiarValor(-5)"
            ><i class="mdi mdi-minus"></i></button>
          </span>
</div>
